body {
    /* overflow: scroll; */
    /* padding: 0px 50px 0 50px; */
    background-color: #F5F5F5;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}


#nav {
    position: fixed;
    top: 0;
    display: grid;
    grid-template-columns: 79% 120px auto;
    /* border: 2px solid orangered; */
    z-index: 1;
    background-color: #F5F5F5;
    left: 0;
    right: 0;
    width: 100%;
    /* margin: auto 50px auto 50px; */
    border-bottom: solid 1px #DADADA;
}

#storeName {
    text-align: left;
    font-family: Helvetica, Sans-Serif;
    font-weight: normal;
    font-size: 25pt;
    margin-left: 60px; 
}

#shoppingCart {
    /* margin: auto 7px auto auto ; */
    /* border: 2px solid blue; */
    align-self: center;
    margin-left: 80%;
}

#shoppingCart:active {
    color: hotpink;
    
}
#Your-cart-is-empty {
    /* background-color: yellow; */
    font-size: 8pt;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    margin: auto 0;
}


#a{
    border: 2px solid blue;
}



