.productContainer {
    /* border: 2px solid hotpink; */

}
#product {
    display: flex;
}

#productDetails{
    display: grid;
    grid-template-columns: 600px auto;
    grid-template-rows: 30% 70px;
}
#productTitle {
    /* border: 2px solid purple; */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    height: 40px;
    padding-left: 50px;
}

#productPrice {
    font-family: Arial, Helvetica, sans-serif;
    /* border: 2px solid green; */
    float: left;
    height: 10%;
    margin-top: 45px;
    
}

#productInventory {
    font-family: Arial, Helvetica, sans-serif;
    /* border: 2px solid hotpink; */
    color: #9B9B9B;
    font-size: 10px;
    padding-left: 50px;
}